body{
    box-sizing: border-box;
}

.navbar-dark {
    background-color: #010732e6; }
.navbar-color{
    color: #eb3a54e6;
}
.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #031426;
    color: floralwhite; }

.row-header {
    margin: 0px auto;
    padding: 0px 0px; }

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }

.carousel {
    background: #0e3e6c; }
.carousel .carousel-item {
    height: 600px; }
.carousel .carousel-item img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 1100px;
    min-height: 300px; }
      
#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px; }
.text-color{
    color: floralwhite;
}
.footer {
    background-color: #010c36;
    margin: 0px auto;
    padding: 20px 0px;
color: floralwhite; }


@media only screen and (max-width: 1000px) {
    .carousel .carousel-item{
        height: 300px;
    }
    .carousel .carousel-item img{
        height: 300px;
    }
  }
  
        
  